.wizard-editor div {
	text-decoration: inherit;
}
.wizard-editor-indent {
	padding-left: 10px;
}
.wizard-editor-plus {
	background: transparent url(images/plus.png) no-repeat 0 0;
	display: inline-block;
}
.wizard-editor-minus {
	background: transparent url(images/minus.png) no-repeat 0 0;
	display: inline-block;
}
.wizard-editor-element.wizard-collapsed {
	color: blue;
	cursor: pointer;
}
.wizard-editor-element.wizard-collapsed.wizard-invalid {
	color: red;
}
.wizard-editor-element.wizard-focused {
	cursor: pointer;
	background-color: #E8E8FF;
}
