.wizard-editor div {
	text-decoration: inherit;
}
.wizard-editor-line-add {
	display: inline-block;
}
.wizard-editor-line-body {
	padding-left: 10px;
}
.wizard-editor-element {
	display: inline-block;
}
.wizard-editor-element.wizard-collapsed {
	color: blue;
	cursor: pointer;
}
.wizard-editor-element.wizard-collapsed.wizard-invalid {
	color: red;
}
.wizard-editor-element.wizard-focused {
	text-decoration: underline;
}
.wizard-editor-form {
	display: inline-block;
}
