.wizard-editor-line-add {
	display: inline-block;
}
.wizard-editor-line-body {
	padding-left: 10px;
}
.wizard-editor-element {
	display: inline-block;
}
.wizard-editor-form {
	display: inline-block;
}
