<div jwclass="wizard-pack">
	<button jwid="new-pack" class="left">Create child package</button>
	<button jwid="new-class" class="left">Create class</button>
	<button jwid="delete" class="left">Delete package</button>
	<div class="clear" />
	<div class="field">
		<div class="label">Name:</div>
		<div jwid="name" class="left" />
		<div class="clear" />
	</div>
	<div jwid="parent-field" class="field">
		<div class="label">Parent:</div>
		<div jwid="parent" class="left" />
		<div class="clear" />
	</div>
</div>
