<div jwclass="wizard-pack">
	<button jwid="new-pack" value="Create child package" class="left" />
	<button jwid="new-class" value="Create class" class="left" />
	<button jwid="delete" value="Delete package" class="left" />
	<div class="clear" />
	<div class="field" />
		<div class="label">Name:</div>
		<div jwid="name" class="left" />
		<div class="clear" />
	</div>
	<div jwid="parent-field" class="field">
		<div class="label">Parent:</div>
		<div jwid="parent" class="left" />
		<div class="clear" />
	</div>
</div>
