button
{
	margin: 0;
}

.clear
{
	clear: both;
}

.left
{
	float: left;
}

.field
{
	margin: 3px 0;
}

.label
{
	float: left;
}

.wizard
{
	font-family: sans-serif;
	font-size: 10pt;
}

.wizard-component,
.wizard-component div
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor: default;
}

.wizard-module
{
	border: 1px solid black;
	height: 600px;
	margin-left: 10px;
	padding: 5px;
	width: 600px;
}

